<%= form_with(url: "/static_pages/home", local: true, method: "get") do |f| %>
  <div class="form-group">
    <%= f.label :user_id, "User ID : " %>
    <%= f.text_field :user_id, class: "form-control" %>
  </div>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
